<%= render "shared/header" %>

<div id="japan-map" class="clearfix">
  <div id="kyusyu" class="clearfix">
    <p class="area-title">九州・沖縄</p>
    <div class="area">
    <%= link_to tv_program_top_path(id:55), method: :post do %>
      <div id="fukuoka">
        <p class="prefecture">福岡</p> 
      </div>
    <% end %>
      <%= link_to tv_program_top_path(id:61), method: :post do %>
        <div id="saga">
          <p class="prefecture">佐賀</p>
        </div>
      <% end %>
      <%= link_to tv_program_top_path(id:57), method: :post do %>
        <div id="nagasaki">
          <p class="prefecture">長崎</p>
        </div>
      <% end %>
      <%= link_to tv_program_top_path(id:60), method: :post do %>
        <div id="oita">
          <p class="prefecture">大分</p>
        </div>
      <% end %>
      <%= link_to tv_program_top_path(id:56), method: :post do %>
        <div id="kumamoto">
          <p class="prefecture">熊本</p>
        </div>
      <% end %>
      <%= link_to tv_program_top_path(id:59), method: :post do %>
        <div id="miyazaki">
          <p class="prefecture">宮崎</p>
        </div>
      <% end %>
      <%= link_to tv_program_top_path(id:58), method: :post do %>
        <div id="kagoshima">
          <p class="prefecture">鹿児島</p>
        </div>
      <% end %>
    </div>
  </div>

</div>

