<%= render "shared/second-header"%>

<% @prefecture_programs.each do |t| %>
  <div class="article" >
    <div class="article-overview">
      <%= link_to prefecture_program_path(t.id, t.prefecture_id) do %>
        <p class="article-title">
          <%= t[:title] %>
        </p>
      <% end %>
      <p class="article-content">
        放送時間：<%= t[:time] %>
      </p>
      <p class="article-content">
        番組概要：<%= t[:overview] %>
      <p class="article-content">
        出演者：<%= t[:performer] %>
      </p>
    </div>
  </div>
<% end %>