<div class="show" >
  <div class="show-overview">
    <p class="article-title"><%= @tv_programs[:title] %></p>
    <h2>放送時間</h2>
    <p class="article-content"><%= @tv_programs[:time] %></p>
    </p>
    <h2>番組概要</h2>
    <p class="article-content"><%= @tv_programs[:overview] %></p>
    <h2>番組詳細</h2>
    <p class="article-content-detail"><%= @tv_programs[:detail] %></p>
    <h2>出演者</h2>
    <p class="article-content"><%= @tv_programs[:performer] %></p>
  </div>
</div>  