<%= render "shared/second-header"%>
<%= render "shared/show"%>

<div class="comment_post">
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with(model: [@prefecture_program, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <div class="btm"><%= form.submit "SEND"%></div>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
</div>
<div class="comments">
  <div>＜コメント一覧＞</div>
  <% @comments.each do |comment| %>
    <p>
      <%
=begin%>
 <div><strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong> 
<%
=end%>
      <div><strong><%= "#{comment.user.nickname}" %>：</strong>
      <%= comment.text %></div>
    </p>
  <% end %>
</div>
</div>
